<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/forms-styles.css">
</head>
<body>
    
    <header>
        <section class="logo-barra-mano">
            <div class="logo-busqueda">
                <img class="logo-mercado-liebre" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
                <form class="busqueda">
                    <input class="busqueda" type="search" placeholder="Buscar productos, marcas">
                    <button class="busqueda" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <p class="cuotas-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
            </div>    
        </section>
        </p>
        <nav class="navegacion-header">
            <section class="section-navegacion">
                <ul>
                    <li><a href=""><p>Ofertas</p></a></li>
                    <li><a href=""><p>Tiendas Oficiales</p></a></li>
                    <li><a href=""><p>Vender</p></a></li>
                    <li><a href=""><p>Ayuda</p></a></li>
                </ul>
                <ul>
                    <li>
                        <a href="/register">
                            Creá tu cuenta
                            <i class="fa-regular fa-id-card"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            Ingresá
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Mis Compras
                            <i class="fa-solid fa-basket-shopping"></i>
                        </a>
                    </li>
                </ul>
            </section>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars"></i>
        </div>
    </header> 

    <main>
        <form class="formulario" action="">
            <input type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de usuario" required>
            <input type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña" required>
            <div class="boton-login">
                <button class="boton-ingresar" type="button"><a href="/">Ingresar</a></button>
            </div>
        </form>
    </main>

    <footer>
        <div class="div-footer">
            <section class="section-footer">
                <div class="div-iconos"><i class="fa-solid fa-credit-card"></i></div>
                <h3 class="h3-footer">Pagá con tarjeta o en efectivo</h3>
                <p class="p-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="section-footer">
                <div class="div-iconos"><i class="fa-solid fa-gift"></i></div>
                <h3 class="h3-footer">Envío gratis desde $ 2.500</h3>
                <p class="p-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="section-footer">
                <div class="div-iconos"><i class="fa-solid fa-user-shield"></i></div>
                <h3 class="h3-footer">Seguridad, de principio a fin</h3>
                <p class="p-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
            </section>
        </div>
        <section class="copyright">
            <h4 class="h4-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>

</body>
</html>